*{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(134, 100, 100);
}
#cabecalho{
  text-align: center;
  display: block;
}
ul li{
  display: inline;
}
hr{
  display: block;
  margin-left: 30px;
  margin-right: 30px;
}
#minha_foto{
  border-radius: 50%;
  border: 3px solid rgb(134, 100, 100 );
  margin-right: 50%;
  margin-left: 45%;
}
#bio{
  border: 2px solid darkgrey;
  border-top-left-radius: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
h2{
  text-align: center;
}